<script>
    $(document).ready(function(){
        findData()
    });

    $("#commentButton").on("click", function(event){
        event.preventDefault();
        comment()
    })

    function findData(){
        if (!firebase.apps.length) {
        firebase.initializeApp({
            apiKey: "AIzaSyCruQFDCzLOn3BacxWenTP_qpdyVZqCksE",
            authDomain: "unsolved-1c9fb.firebaseapp.com",
            databaseURL: "https://unsolved-1c9fb.firebaseio.com",
            projectId: "unsolved-1c9fb",
            storageBucket: "unsolved-1c9fb.appspot.com",
            messagingSenderId: "408884621201",
            appId: "1:408884621201:web:faa334f3fcceb72c2ff430"
        });
    }
    var db = firebase.firestore();
    var locations = $(location).attr('href').split("/")[3]
    let commentsRef = db.collection('comments');
    let query = commentsRef.where('category', '==', locations).get()
    .then(snapshot => {
        if (snapshot.empty) {
        console.log('No matching documents.');
        return;
        }  

        snapshot.forEach(doc => {
        console.log(doc.id, '=>', doc.data());
        $("#comments").append(`
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              ${doc.data().context}
            </div>
          </div>
        `)
        });
    }) 
    }

    function comment(){
        if (!firebase.apps.length) {
        firebase.initializeApp({
            apiKey: "AIzaSyCruQFDCzLOn3BacxWenTP_qpdyVZqCksE",
            authDomain: "unsolved-1c9fb.firebaseapp.com",
            databaseURL: "https://unsolved-1c9fb.firebaseio.com",
            projectId: "unsolved-1c9fb",
            storageBucket: "unsolved-1c9fb.appspot.com",
            messagingSenderId: "408884621201",
            appId: "1:408884621201:web:faa334f3fcceb72c2ff430"
        });
    }
        var db = firebase.firestore();
        var locations = $(location).attr('href').split("/")[3]
        var contextText = $("#commentTextArea").val()
        db.collection("comments").add({
        category: locations,
        context: contextText
        })

        $("#commentTextArea").val("") 
    }
</script>