@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass:600,700&display=swap');

body{
    background: linear-gradient(to right, #36393a, #56595c);
}

#title{
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
    color:white
}

#topNav{
    /* background: linear-gradient(to right, #232526, #414345); */
    background-color: black !important;
}

#loginButton{
    height: 5vh;
    width: 12vh;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color:white;
    font-size: 2vh;
    margin-right: 3vh;
}

.card img{
    filter: brightness(50%);
    transition: all 1s;
}


.card img:hover{
    filter: brightness(100%);
}

#bigCard{
    margin-right: 0.5rem;
}

#bigCard img{
    height: 60vh !important;
    border-radius: none;
}

.sideCards{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    height: 10vh !important;
}

.sideCards img{
    height: 29vh !important;
}

.overlay{
    margin-top: 8rem;
}

.section{
    margin-top: 3vh;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

#bigOverlay{
    margin-top: 23rem;
    color:white;
}


.cTitle{
    font-size: 1.5rem;
    font-family: "Overpass";
    font-weight: 700;
}

#topCard{
    margin-bottom: 0.8rem;
}

#recent{
    color:white;
    font-size: 1rem;
    height: 50vh;
}

#userProfile{
    width: 3rem;
    height: 3rem;
}
