@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body{
    background: linear-gradient(to right, #36393a, #56595c);
}

#title{
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
    color:white
}

#topNav{
    /* background: linear-gradient(to right, #232526, #414345); */
    background-color: black !important;
}

#loginButton{
    height: 5vh;
    width: 12vh;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color:white;
    font-size: 2vh;
    margin-right: 3vh;
}