@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass:600,700&display=swap');

body{
    background-image: url('/images/stars.jpg');
}

#title{
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
    color:white
}


.card img{
    filter: brightness(50%);
    transition: all 1s;
}

.card {
    overflow: hidden;
}


.card:hover img {
    filter: brightness(100%);
    transform: scale(1.2);
}

#bigCard{
    margin-right: 0.5rem;
}

#bigCard img{
    height: 60vh !important;
    border-radius: none;
}

.sideCards{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    height: 10vh !important;
}

.sideCards img{
    height: 29vh !important;
}

.overlay{
    margin-top: 8rem;
}

.section{
    margin-top: 3vh;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 500px;
    margin-bottom: 0;
}

#bigOverlay{
    margin-top: 20rem;
    color:white;
}


.cTitle{
    font-size: 1.5rem;
    font-family: "Overpass";
    font-weight: 700;
    text-decoration: none;
}

.cTitle:hover{
    text-decoration: none;
}


#topCard{
    margin-bottom: 0.8rem;
}

#recent{
    color:white;
    font-size: 1rem;
    height: 50vh;
}

#userProfile{
    width: 3rem;
    height: 3rem;
}

#postTitle{
    margin-top: 4vh;
    font-family: "Overpass";
    color:white;
    font-size: 3vh;
    margin-left: 20vh;
    margin-bottom: 3vh;
}

.recentPosts{
    display: flex;
    justify-content: space-around;
    width: 84%;
    margin:auto;
    flex-wrap: wrap;
}

.recentCard{
    border:none !important;
    border-radius: none !important;
    width: 24rem;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.418);
}

.recentCard h5{
    color: black;
}

.recentCard p{
    color: rgb(37, 36, 36);
}

.recentCard h5:hover{
    /* text-de */
}

.recentCard img{
    height: 25vh;
}
