<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/post.css">
  </head>
  <body>
    <div class="header">
      <h3>The Bermuda Triangle</h3>
    </div>
    <div class="row">
      <div class="centercolumn">
        <div class="card">
          <h2>Where did the missing ships go?</h2>

          <img src="/images/bermuda.png" alt="" id="postImage"/>

          <p>
            The Bermuda Triangle is known for its mysterious disappearance of ships and planes. The conspiracies surrounding the triangle vary from massive waves that destroy boats and aircrafts wreckage to pilots not paying attention to their navigation route. The Bermuda Triangle is a mysterious area filled with unspoken secrets.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
