<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/post.css">
  </head>
  <body>
    <div class="header">
      <h3>The Walking Bigfoot</h3>
    </div>
    <div class="row">
      <div class="centercolumn">
        <div class="card">
          <h2>Does he live among us?</h2>

          <img src="/images/bigfoot.jpg" alt="" id="postImage"/>

          <p>
            Bigfoot sightings always brought excitement to the youth, but fear into the adults who encounter the supposive myth. Bigfoot has been seen across the country. These accusations of Bigfoot characterized the Sasquach as violent and territorial. Though there are very few images of the Sasquach, there are organizations dedicated to revealing the animal’s true form.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
