<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/post.css">
  </head>
  <body>
    <div class="header">
      <h3>Jack the Ripper</h3>
    </div>
    <div class="row">
      <div class="centercolumn">
        <div class="card">
          <h2>The Infamous Rage</h2>

          <img src="/images/jack.png" alt="" id="postImage"/>

          <p>
            Jack the Ripper is infamously known for terrorizing Whitchapel, a district in London in 1888. The unknown serial killer gained popularity for his bloody murders. There were only five confirmed and eleven unconfirmed murders committed by Jack. Because of these murders, Jack became one of the most popular serial killers of all time.
	The identity of the murderer has not yet been revealed. But many accusations pinned the murders on a 23 year old polish barber, Aaron Kosminski. Sadly, since there was not enough evidence against Aaron Kosminski, he was not sentenced to any jail time.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
