<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/post.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-auth.js"></script>
  </head>
  <body>
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <a href="/" id="back">Back</a>
        </button>
      </nav>
    </div>
    <div class="container animated fadeIn">

      <div class="row">
  
        <!-- Post Content Column -->
        <div class="col-lg-8" id="postContent">
  
          <!-- Title -->
          <h1 class="mt-4" id="postTitle">Malaysia Flight 370</h1>
  
          <!-- Author -->
          <p class="lead">
            by
            <a href="#">Zoe T.</a>
          </p>
  
          <hr>
  
          <!-- Date/Time -->
          <p>Posted on January 1, 2019 at 12:00 PM</p>
  
          <hr>
  
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/images/malaysia.png" alt="" id="previewImage">
  
          <hr>
  
          <!-- Post Content -->
          <p class="lead">What happened to the Malaysia Flight 370?</p>
  
          <p>On March 8, 2014, the flight Malaysia 370 departed from Kuala Lumpur International Airport for Beijing Capital International airport. All of its 224 passengers and 12 crew members on board left the airport at 12:05 am, never arriving at their destination.</p>
  
          <p>The aircraft’s last transmission to the Aircraft Communication Addressing and Reporting System(ACARS) was at 01:07 am. And the aircraft’s last communication to aircraft control was at 01:21 am. After its last communication to the aircraft went offline, never to be seen or heard from again.</p>
  
          <p>The theories of what happened to Malaysia Flight 370 bombarded the public. Many think the flight was hijacked. This could explain the loss of communication from the aircraft to aircraft control.</p>

          <p>Others believe the pilot had lost control. But this would not explain the sudden silence from the aircraft. The remains of the aircraft were never found in the Indian Ocean, leaving many spectators to question what really happened on the flight.</p>
  
          <hr>
  
          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3" id="commentTextArea"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="commentButton">Submit</button>
              </form>
            </div>
          </div>
  
          <!-- Single Comment -->
          <div id="comments">
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <%- include('../partials/comment.ejs') %>
  </body>
</html>
