<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/post.css">
  </head>
  <body>
    <div class="header">
      <h3>Phoenix Lights</h3>
    </div>
    <div class="row">
      <div class="centercolumn">
        <div class="card">
          <h2>What was their motives?</h2>

          <img src="/images/lights.png" alt="" id="postImage"/>

          <p>
            The Phoenix Lights was a series of unidentified flying objects flying over Arizona, Nevada, and Sonora, a Mexican state. On March 13, 1997, thousands of spectators saw the triangular formation of the  lights. This spectacle raised suspicion of alien invasions or attacks. The American government resolved these suspicions releasing that it was a military exercise for the A-10 Warthog aircraft. But, as of 2019, John Greenwald revealed the military did not perform any exercise at that particular moment. So, what actually happened on March 13, 1997? This case remains unsolved.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
